/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Styles */
body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: whitesmoke;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ddd;
}

/* Toggle Button Styles */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px;
    border-radius: 2px;
    transition: background 0.3s;
}

.navbar-links.open {
    display: flex;
}

/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjusted for navbar height */
    text-align: center;
    background-color: black;
    padding: 20px;
}

.hero {
    background-color: rgb(0, 255, 132);
    max-width: 600px;
    box-shadow: -1px 9px 18px 0px whitesmoke;
    padding: 5%;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #333;
}

.hero-title-3d {
    display: inline-block;
    color: #f47004;
    text-shadow: 2px 2px 0 #333, 4px 4px 0 whitesmoke, 6px 6px 0 #333;
}

.hero-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
    color: #666;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #047af8;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #07fa03;
}
