#premium {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 25px;
    box-shadow: -1px 9px 18px 0px whitesmoke ;
}

.modal-content {
    color:rgb(128, 117, 2);
    background-color: rgb(4, 249, 171);
    box-shadow: -1px 9px 18px 0px rgb(253, 220, 6) ;
    margin-top: 30%;


}


#forget {
    color: white;
}

#forget:hover {
    color: #ff4107;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}

.report-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

table {
    width: -webkit-fill-available;
    text-align: center;
}

th {
    background-color: #f48d06;
}


av {
    margin-top: 25px;
}

.active .page-link {
    background-color: #0da37f;
    color: white;
    border: 1px solid #0da37f;
}

.active .page-link:hover {
    background-color: #0da3807b;
    color: white;
    border: 1px solid #0da38079;
}

.page-link {
    color: #0da37f;
}

.page-link:hover {
    color: #13b993;
}
