<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style = "background-color: black;">
    <div style="color: rgb(0, 255, 132); font-weight: bold; " class="container mt-5">
        <div style="background-color: #522302;; box-shadow: -1px 9px 18px 0px whitesmoke" class="card">
            <div class="card-header text-black">
                <h2 style="background-color:#522302; box-shadow: -1px 9px 18px 0px whitesmoke"  class="text-center">Reset Password</h2>
            </div>
            <div class="card-body">
                <form id="resetPasswordForm">
                    <div class="form-group">
                        <label for="password">New Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/forgetPassword.js"></script>
</body>

</html>